.grass {
  border: 1px solid black;
  border-radius: 4px;
  background-color: green
}
.fire {
  border: 1px solid black;
  border-radius: 4px;
  background-color: orange;
}
.water {
  border: 1px solid black;
  border-radius: 4px;
  background-color: lightblue;
}
.poison {
  border: 1px solid black;
  border-radius: 4px;
  background-color:purple;
}
.electric {
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgb(236, 236, 77);
}

.default {
  border: 1px solid black;
  border-radius: 4px;
  background-color: gainsboro
}

.pokemon-card__type {
  font-size: 0.8rem;
  color: black;
}